doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='shortcut icon' href='images/favicon.png' type='image/png')
        title Sanne Karlsson
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
        style
            include:scss styles/main.scss
    body
        block content